<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvboaa.mapper.CommetMapper">

    <cache type="com.lvboaa.util.redis.RedisCache"
           eviction="LRU"
           flushInterval="6000000"
           size="1024"
           readOnly="false"></cache>

    <select id="getAllCommet" parameterType="java.util.HashMap" resultType="Commet">
        select a.*,m.movie_name from
        (select c.*,u.user_name from
        (select * from t_commet
        <where>
            <if test="movieName != ''">
                and movie_id in (select movie_id from t_movie where movie_name like concat('%',#{movieName},'%') )
            </if>
        </where>
        limit  #{startIndex},#{pageSize}) c,t_user u where c.user_id = u.user_id) a,t_movie m
        where a.movie_id = m.movie_id
    </select>

    <select id="getCommetCount" parameterType="java.util.HashMap" resultType="_int">
        select count(*) from t_commet
        <where>
            <if test="movieName != ''">
                and movie_id in (select movie_id from t_movie where movie_name like concat('%',#{movieName},'%'))
            </if>
        </where>
    </select>

    <delete id="deleteCommet" parameterType="int">
        delete from t_commet where commet_id=#{commetId}
    </delete>

    <delete id="deleteCommets" parameterType="java.util.List">
        delete from t_commet where commet_id in
        <foreach collection="list" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <insert id="addCommet" parameterType="java.util.HashMap">
        insert into t_commet
        (user_id,movie_id,score,content,date)
        values
        (#{userId},#{movieId},#{score},#{content},#{date})
    </insert>

    <select id="getCommetByMovieId" parameterType="_int" resultType="CommetVo">
        select a.*,t_user.user_name,t_user.photo from
        (select * from t_commet where movie_id=#{movieId}) a,t_user
        where a.user_id=t_user.user_id
    </select>

    <select id="getAvgScoreByMovieId" parameterType="_int" resultType="java.util.HashMap">
        select truncate(avg(score),1) score,count(*) num from t_commet where movie_id = #{movieId}
    </select>

    <select id="getCommetByUserAndMovieId" parameterType="java.util.HashMap" resultType="Commet">
        select * from t_commet where user_id=#{userId} and movie_id=#{movieId}
    </select>

    <update id="updateCommet" parameterType="java.util.HashMap">
        update t_commet set score=#{score},content=#{content},date=#{date}
        where movie_id=#{movieId} and user_id=#{userId}
    </update>

    <select id="getAllCommetDto" resultType="CommetDto">
        select user_id,movie_id,score from t_commet
    </select>
</mapper>